.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  column-gap: 2vw;
  position: relative;
}
@media (max-width: 768px) {
  .container {
    column-gap: 4vw;
    flex-wrap: wrap;
    justify-content: left;
  }
}

.container img {
  width: auto;
  height: auto;
  max-width: 65vw;
  max-height: 65vh;
  size: cover;
  align-items: flex-start;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .container img {
    max-width: 75vw;
    max-height: 75vh;
    gap: 2vh;
  }
}
.container textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.container h1 {
  font-size: 3vw;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
@media (max-width: 768px) {
  .container h1 {
    font-size: 5vw;
  }
}

.container h2 {
  font-size: 2vw;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
@media (max-width: 768px) {
  .container h2 {
    font-size: 4vw;
  }
}

.container p {
  font-size: 1vw;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
@media (max-width: 768px) {
  .container p {
    font-size: 3vw;
  }
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  bottom: 3rem;
}

.links::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}
