.text-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 5vw;
  margin-top: 0vw;
}
.justified-paragrphs {
  text-align: justify;
  font-size: 1vw;
}

.about-header {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 90vw;
  margin: 0 auto;
}
.about-header h1 {
  font-size: 3vw;
  font-weight: 900;
  font-family: "Aileron";
  /* color: #ffffff; */
}
@media (max-width: 768px) {
  .about-header {
    align-items: left;
    justify-content: left;
    margin-left: 4vw;
  }
  .about-header h1 {
    font-size: 5vw;
  }
  .justified-paragrphs {
    font-size: 3vw;
  }
}
